<%= form_with model: [@project, @project.comments.build] do |form| %>
  <div>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit 'Leave Comment' %>
  </div>
<% end %>